$primary: #BD8318;
$body-bg: #FFFFFF;
$bg-1 :#F3F3F3;
$bg-2:#e8e8ed;
$border-color:#d9d9d9;
$text-1:#333333;
$text-2:#545454;
$black:#000000;
$white:#ffffff;

$accordion-icon-color:                    #8a8a8a;
$accordion-icon-active-color:             #BD8318;

$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='11' viewBox='0 0 11 18' fill='#8a8a8a' stroke='#{$accordion-icon-color}'   stroke-linecap='round' stroke-linejoin='round'><path d='M7.64474 9L0.322266 1.67752L1.99979 0L10.9998 9L1.99979 18L0.322266 16.3225L7.64474 9Z'/></svg>");
$accordion-button-active-icon:  url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='18' height='12' viewBox='0 0 12 18' fill='#BD8318'  stroke='#{$accordion-icon-active-color}'  stroke-linecap='round' stroke-linejoin='round'><path d='M9 7.98372L16.3225 0.66124L18 2.33876L9 11.3388L-7.33269e-08 2.33876L1.67752 0.661239L9 7.98372Z'/></svg>");
$accordion-icon-transform:rotate(0deg);
$accordion-button-active-bg:              var(--#{$body-bg}primary-bg-subtle);
$accordion-button-active-color:           var(--#{$primary}primary-text-emphasis);
$accordion-padding-y:                     1rem;

$font-family-Urabanist: "Urbanist";
