@import "./variable";
@import "./common.scss";
@import "./navbar";
@import "./hero-section";
@import './about-us';
@import './B2B-product';
@import './our_client';
@import'./testinomials';
@import'./inquiry';
@import './blogs';
@import'./reasearch_product';
@import './our-production';
@import './about-info';
@import './mission-vision';
@import './products';
@import './contact-us';
@import './product_details';
@import './why-choose-us';


@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: $font-family-Urabanist;
    background-color: $body-bg;
    height: 100vh;
  }